.header{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidewidth});
    height: 4rem;
    background-color: rgba($color: $blackshadow, $alpha: .5);
    box-shadow: 0px 5px 12px $blackshadow;
    margin: auto;
}

.lock-padding {
}
