.header{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidewidth});
    height: 4rem;
    background-color: rgba($color: $blackshadow, $alpha: .5);
    box-shadow: 0px 5px 12px $blackshadow;
    margin: auto;
    
    &_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &_links{
        color: $secondColor;
        display: inline-block;
        overflow: hidden;
        text-transform: uppercase;
        padding: 1.35rem 1.5rem;
        font-weight: 600;
        transition: all 0.2s ease-in-out 0s;
        position: relative;
        text-shadow: 0px 5px 8px $blackshadow;
        span{
            position: relative;
            z-index: 3;
        }
        
    }

    &_links::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        background-color: rgba($color: $mainColor, $alpha: 0.5);
        transform: skewX(-25deg) scale(0);
        transition: all 0.2s ease-in-out 0s;

    }
    &_links:hover::before{
        transform: scale(1.5) skewX(-25deg);
    }

    &_links:hover{
        background-color: $bronze;
    }
    &_links.arrow{
        padding-right: 3rem;
    }
    &_links.arrow::after{
        content: "";
        position: absolute;
        right: 1.5rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: $secondColor transparent transparent transparent;
        transform: translateY(40%);
    }

    &_left {
        flex: 0 1 60%;
        height: 100%;
    }

    &_left-list {
        display: flex;
        align-items: center;
    }

    &_left-link {

    }

    &_right {
        display: flex;
        flex: 0 1 40%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
    }

    &_right-list {

    }

    &_right-link {

    }
    &_right-form{
        height: 100%;
    }

    &_right-search {
        height: 100%;
        width: 20rem;
        padding: 0.5rem 1rem;
        background-color: rgba($color: $bronze, $alpha: 0.6);
        color: $secondColor;
    }
    &_right-search::placeholder{
        color: $secondColor;
    }


}

.lock-padding {
}
